# Conexion a MongoDB
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE=proyecto1_db

# Backend Flask
BACKEND_HOST=0.0.0.0
BACKEND_PORT=5000
FLASK_DEBUG=false

# Acceso desde el equipo
HOST_BIND_IP=127.0.0.1
HTTP_PORT=8082
HTTPS_PORT=8443

# Recursos externos de Docker
DOCKER_NETWORK_NAME=proyecto_network
MONGO_VOLUME_NAME=proyecto1_mongo_data
NETWORK_SUBNET=192.168.162.0/27
NETWORK_GATEWAY=192.168.162.1

# Direcciones internas fijas
GATEWAY_IP=192.168.162.12
FRONTEND_IP=192.168.162.13
BACKEND_IP=192.168.162.14
MONGODB_IP=192.168.162.15
